.amira-contact-section {
  display: flex;
  margin: 20px auto;
  justify-content: center;
  width: 85%;
}

.amira-contact-info hr {
  width: 100%;
  color: white;
  border: 1px solid;
}

.amira-contact-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.amira-contact-form form input,
.amira-contact-form form textarea {
  border: none;
  border-bottom: 1px solid #909090;
  background-color: transparent;
  margin-bottom: 0.75rem;
  padding: 0.5rem;
}

.amira-contact-form form textarea {
  height: 150px;
  resize: vertical;
  padding: 0.5rem;
  border: 1px solid #909090;
  border-radius: 4px;
}

.amira-contact-form form input:focus,
.amira-contact-form form textarea:focus {
  outline: none;
  border-bottom: 1px solid #0066FF;
  transition: all ease-in-out 0.1s;
  background-color: #f0f0f0;
}

.amira-contact-form form label {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #828282;
}

.amira-contact-form form button {
  width: 100%;
  padding: 0.625rem;
  margin-top: 1.25rem;
  border-radius: 24px;
  background-color: #396aff;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.amira-contact-form h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  color: #396aff;
}

.amira-contact-form p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #909090;
}

.amira-contact-form {
  display: flex;
  width: 100%;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.amira-contact-form input:focus {
  outline: none;
  border-bottom: 1px solid #0066ff;
  transition: all ease-in-out 0.1s;
}

.amira-contact-info {
  background-color: #396aff;
  color: white;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 24px;
}

.amira-contact-info h2 {
  margin-bottom: 1rem;
}

.amira-contact-info p {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.amira-contact-info p i {
  margin-right: 0.5rem;
}

.social-icons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: flex-start;
}

.social-icons a {
  font-size: 1.5rem;
  color: white;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ddd;
}

@media (max-width: 1024px) {
  .amira-contact-section {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .amira-contact-form,
  .amira-contact-info {
    width: 100%;
    margin-bottom: 20px;
  }

  .amira-contact-form h2 {
    font-size: 36px;
    line-height: 44px;
  }

  .amira-contact-form p {
    font-size: 14px;
    line-height: 22px;
  }

  .amira-contact-form form button {
    font-size: 14px;
    padding: 0.5rem;
  }

  .amira-contact-info h2 {
    font-size: 36px;
    line-height: 44px;
  }

  .amira-contact-info p {
    font-size: 14px;
    line-height: 22px;
  }

  .social-icons {
    justify-content: center;
  }
}
